main {
    display: flex;
    align-items: flex-end;
    height: 100vh;
}


#mapCarousel {
    height: 60%; 
    width: 100vw;
}

.map {
    height: 100%;
}

.carousel-inner {
    height: 100%; 
}

.custom-carousel {
    height: 100vw; 
}

.carousel-item {
    height: 100%;
   
}

.leaflet-container {
    height: 100%;
    width: 100%;
}

