main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100vh;
}

.titulo-flex-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 5rem;
}

.headerTituloInicio{
    font-weight: bolder;
    color: #979797;
}

.headerSubtituloInicio{
    font-weight: bold;
    color: #8B4513;
}

.icons-container{
    display: flex;
    width: 25%;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.icon {
    font-size: 2.5rem;
    padding: 0.3rem;
}

.icon:hover {
    cursor: pointer;
}

.active-icon {
    background-color: #d5d5d5; 
    color: #ffffff; 
    border-radius: 5px; 
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2); 
    transform: translateY(0.1rem);
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 200,
  'opsz' 48
}

#mapCarousel {
    height: 60%; 
    width: 100vw;
}

.carousel-inner {
    height: 100%; 
}

.carousel-item {
    height: 100%;
}

.leaflet-container {
    height: 100%;
    width: 100%;
}

.carousel-control-prev, .carousel-control-next {
    z-index: 1000;
}

.carousel-caption{
    z-index: 998;
    background-color: rgba(151, 151, 151, 0.5); 
    border-radius: 10px;
    backdrop-filter: blur(10px);
}

.carousel-indicators{
    display: none;
}

.material-symbols-outlined-chevron{
    color: red;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 200,
  'opsz' 48
}

/* Confuguracion del SVG de las flechas */
.next {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}

.back {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}


